@charset 'UTF-8';

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Adjustment/Global Styles
# Common/Preloader
# Header-contact
# Hero section
# Header-nav
# About section
# Facts section
# Services section
# Appointment section
# Barbers section
# Clients section
# Gallery section
# Prices section
# Footer
# Buttons
# Forms
# Typography
# Media Queries
--------------------------------------------------------------*/

/*======begin FONTS======*/

@font-face{
    font-family: 'Quattrocento Sans Bold';
    font-weight: 700;
    font-style: normal;
    
    src: url('../fonts/Quattrocento Sans Bold/Quattrocento Sans Bold.woff2') format('woff2'), url('../fonts/Quattrocento Sans Bold/Quattrocento Sans Bold.woff') format('woff');
}

@font-face{
    font-family: 'Quattrocento Sans Regular';
    font-weight: 400;
    font-style: normal;
    
    src: url('../fonts/Quattrocento Sans Regular/Quattrocento Sans Regular.woff2') format('woff2'), url('../fonts/Quattrocento Sans Regular/Quattrocento Sans Regular.woff') format('woff');
}

@font-face{
    font-family: 'Vani Bold';
    font-weight: 700;
    font-style: normal;
    
    src: url('../fonts/Vani Bold/Vani Bold.woff2') format('woff2'), url('../fonts/Vani Bold/Vani Bold.woff') format('woff');
}

@font-face{
    font-family: 'Vani Regular';
    font-weight: 400;
    font-style: normal;
    
    src: url('../fonts/Vani Regular/Vani Regular.woff2') format('woff2'), url('../fonts/Vani Regular/Vani Regular.woff') format('woff');
}

@font-face{
    font-family: 'iconical';
    font-weight: normal;
    font-style: normal;
    
    src: url('../fonts/iconical/iconical.woff2') format('woff2'), url('../fonts/iconical/iconical.woff') format('woff');
}

.icon-angle-down:before,
.icon-angle-left:before,
.icon-angle-right:before,
.icon-angle-up:before,
.icon-calendar-alt:before,
.icon-clock-nine:before,
.icon-facebook-f:before,
.icon-google-plus-g:before,
.icon-hair-cut:before,
.icon-hair-styling:before,
.icon-hair-wash:before,
.icon-instagram:before,
.icon-map-marker-alt:before,
.icon-moustache:before,
.icon-paper-plane:before,
.icon-phone-solid:before,
.icon-scissors:before,
.icon-scissors3:before,
.icon-search:before,
.icon-shave-2:before,
.icon-shave:before,
.icon-star-empty:before,
.icon-star-half-alt:before,
.icon-star:before,
.icon-twitter:before{
    font-family: 'iconical';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    
    text-decoration: none;
    text-transform: none;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before{
    content: '';
}

.icon-angle-left:before{
    content: '';
}

.icon-angle-right:before{
    content: '';
}

.icon-angle-up:before{
    content: '';
}

.icon-calendar-alt:before{
    content: '';
}

.icon-clock-nine:before{
    content: '';
}

.icon-facebook-f:before{
    content: '';
}

.icon-google-plus-g:before{
    content: '';
}

.icon-hair-cut:before{
    content: '';
}

.icon-hair-styling:before{
    content: '';
}

.icon-hair-wash:before{
    content: '';
}

.icon-instagram:before{
    content: '';
}

.icon-map-marker-alt:before{
    content: '';
}

.icon-moustache:before{
    content: '';
}

.icon-paper-plane:before{
    content: '';
}

.icon-phone-solid:before{
    content: '';
}

.icon-scissors:before{
    content: '';
}

.icon-scissors3:before{
    content: '';
}

.icon-search:before{
    content: '';
}

.icon-shave-2:before{
    content: '';
}

.icon-shave:before{
    content: '';
}

.icon-star-empty:before{
    content: '';
}

.icon-star-half-alt:before{
    content: '';
}

.icon-star:before{
    content: '';
}

.icon-twitter:before{
    content: '';
}

/*======end FONTS======*/

/*======ADJUSTMENT======*/

html{
    font-size: 1rem;
}

body{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    min-height: 100vh;
    
    word-wrap: break-word;
    
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
}

.wrapper{
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

*{
    box-sizing: border-box;
}

*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}

img{
    display: block;
    
    width: 100%;
    height: auto;
}

/*======END ADJUSTMENT======*/

/*======begin COMMON======*/

.divider{
    margin-bottom: 28px;
    
    text-align: center;
}

.divider .divider-icon-wrapper{
    position: relative;
    
    display: inline-block;
}

.divider .divider-icon-wrapper::before,
.divider .divider-icon-wrapper::after{
    position: absolute;
    
    display: block;
    
    width: 90px;
    height: 1px;
    
    content: '';
    
    background-color: #985336;
}

.divider .divider-icon-wrapper::before{
    top: 15px;
    left: -110px;
}

.divider .divider-icon-wrapper::after{
    top: 15px;
    right: -110px;
}

.divider span{
    font-size: 1.15625rem;
    
    display: inline-block;
    
    color: #985336;
}

body{
    background-color: #111;
}

#preloader{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: #111;
}

#loader{
    position: relative;
    top: 50%;
    left: 50%;
    
    display: block;
    
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
    border: 3px solid transparent;
    border-top-color: #9370db;
    border-radius: 50%;
}

#loader:before{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    
    content: '';
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    
    border: 3px solid transparent;
    border-top-color: #ba55d3;
    border-radius: 50%;
}

#loader:after{
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    
    content: '';
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    
    border: 3px solid transparent;
    border-top-color: #f0f;
    border-radius: 50%;
}

@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

/*======end COMMON======*/

/*======begin HEADER-CONTACT======*/

.header-contact{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    
    border-bottom: 1px solid #bfbfbf;
    background-color: #fff;
}

/*====== GRID ======*/

.header-contact__content{
    display: grid;
    
    align-items: center;
    row-gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px repeat(3, auto);
}

.header-contact__logo{
    margin-right: auto;
    margin-left: auto;
    
    grid-column: 2/6;
}

.header-contact__phone{
    grid-column: 1/7;
    grid-row: 2/3;
}

.header-contact__adr{
    grid-column: 1/7;
    grid-row: 3/4;
}

.header-contact__open{
    grid-column: 1/4;
    grid-row: 4/5;
}

.header-contact__search{
    grid-column: 6/7;
    grid-row: 4/5;
}

/*====== CONTENT ======*/

.header-contact__logo img{
    width: 115px;
    height: 90px;
}

.header-contact__links{
    position: relative;
    
    margin-left: 45px;
}

.header-contact__links::before{
    font-family: 'iconical';
    font-size: 1.25rem;
    
    position: absolute;
    top: 50%;
    left: -39px;
    
    display: inline-block;
    
    content: '\E010';
    transform: translateY(-50%);
    
    color: #985336;
}

.header-contact__info{
    position: relative;
    
    display: inline-block;
    
    margin-left: 45px;
    
    text-align: left;
}

.header-contact__info::before{
    font-family: 'iconical';
    font-size: 1.25rem;
    
    position: absolute;
    top: 50%;
    left: -37px;
    
    display: inline-block;
    
    content: '\E00D';
    transform: translateY(-50%);
    
    color: #985336;
}

.header-contact__work{
    position: relative;
    
    margin-left: 45px;
}

.header-contact__work::before{
    font-family: 'iconical';
    font-size: 1.25rem;
    
    position: absolute;
    top: 50%;
    left: -39px;
    
    display: inline-block;
    
    content: '\E006';
    transform: translateY(-50%);
    
    color: #985336;
}

.header-contact__search{
    text-align: right;
}

.header-contact__search button{
    padding: 0;
}

.header-contact__search button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.header-contact__search .icon-search{
    font-size: 1.25rem;
    
    display: inline-block;
    
    padding-top: 6px;
    
    color: #000;
}

.header-contact__link{
    font-family: 'Quattrocento Sans Bold', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
    display: block;
    
    transition: all .3s ease-in-out;
    
    color: #454545;
}

.header-contact__link:hover{
    text-decoration: none;
    
    color: #985336;
}

.header-contact__text{
    font-family: 'Quattrocento Sans Bold', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    
    color: #454545;
}

/*======end HEADER-CONTACT======*/

/*======begin HERO section======*/

.hero{
    position: relative;
    
    width: 100%;
    
    background-color: #a9a9a9;
}

#carouselHero .carousel-control-next,
#carouselHero .carousel-control-prev{
    position: absolute;
    top: 50%;
    
    width: 65px;
    height: 65px;
    
    transition: all .3s ease-in-out;
    transform: translateY(-50%);
    
    border: 2px solid #985336;
    border-radius: 50%;
}

#carouselHero .carousel-control-next:hover,
#carouselHero .carousel-control-prev:hover{
    background-color: #985336;
}

#carouselHero .carousel-control-next:hover span,
#carouselHero .carousel-control-prev:hover span{
    color: #fff;
}

#carouselHero .icon-angle-left,
#carouselHero .icon-angle-right{
    padding-top: 5px;
    
    transition: all .3s ease-in-out;
    
    color: #985336;
}

#carouselHero .carousel-control-prev{
    left: 20px;
}

#carouselHero .carousel-control-next{
    right: 20px;
}

.carousel-item{
    width: 100%;
    height: 262px;
    
    text-align: center;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.carousel-item:first-child{
    background-position: left center;
}

.carousel-item:nth-child(2){
    background-position: left 30% center;
}

.carousel-item:last-child{
    background-position: right center;
}

.carousel-item__inner{
    width: 100%;
}

.carousel-item__content{
    margin-left: 0;
}

/*======end HERO section======*/

/*======begin HEADER-NAV======*/

.header-nav{
    position: absolute;
    z-index: 10;
    
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    transition: all .3s ease-in-out;
    
    background-color: rgba(0, 0, 0, .55);
}

.header-nav .navbar{
    padding: 0;
}

.header-nav .navbar .navbar-nav{
    padding-top: 15px;
}

.header-nav .navbar .nav-link{
    font-family: 'Quattrocento Sans Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    padding: 12px 25px;
    
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    
    color: #fff;
}

.header-nav .navbar .nav-link.nav-link--active,
.header-nav .navbar .nav-link:hover{
    color: #2c2c2b;
    background-color: #985336;
}

/*======end HEADER-NAV======*/

/*======begin ABOUT section======*/

.about{
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: #fff;
}

.about-header{
    margin-bottom: 58px;
}

.about-card{
    border: 0;
}

.about-card:hover .about-card__icon{
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.about-card__inner{
    position: relative;
    
    width: 100%;
    height: 102px;
    
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #d5d3d3 calc(50% + 1px), #f0f0f0 calc(50% + 2px), #f0f0f0 100%);
}

.about-card__inner::before,
.about-card__inner::after{
    position: absolute;
    top: 50%;
    
    display: inline-block;
    
    width: 1px;
    height: 50%;
    
    content: '';
    
    background-color: #d5d3d3;
}

.about-card__inner::before{
    left: 0;
}

.about-card__inner::after{
    right: 0;
}

.about-card__icon{
    display: flex;
    overflow: hidden;
    
    width: 102px;
    height: 102px;
    margin-right: auto;
    margin-left: auto;
    
    border: 2px solid #985336;
    border-radius: 50%;
    background-color: #fff;
    
    justify-content: center;
    align-items: center;
}

.about-card__icon span[class^='icon-']{
    font-size: 3rem;
    line-height: 1;
    
    display: inline-block;
    
    padding-top: 20px;
    
    color: #985336;
}

.about-card__body{
    padding: 32px 22px 40px;
    
    border-right: 1px solid #d5d3d3;
    border-bottom: 1px solid #d5d3d3;
    border-left: 1px solid #d5d3d3;
    background-color: #f0f0f0;
}

/*======end ABOUT section======*/

/*======begin FACTS section======*/

.facts{
    padding-top: 42px;
    padding-bottom: 55px;
    
    border-top: 1px solid #969696;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*======end FACTS section======*/

/*======begin SERVICES section ======*/

.services{
    padding-top: 70px;
}

.services-header{
    margin-bottom: 60px;
}

.services-content{
    padding-top: 0;
    padding-bottom: 85px;
    
    background: url('../img/background/services-bg.jpg') #fff;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

/*====== GRID ======*/

.services-grid{
    display: grid;
    
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.services-cut{
    grid-column: 1/2;
    grid-row: 1/2;
}

.services-style{
    grid-column: 1/2;
    grid-row: 2/3;
}

.services-wash{
    grid-column: 1/2;
    grid-row: 3/4;
}

.services-shave{
    grid-column: 1/2;
    grid-row: 4/5;
}

/*====== CONTENT ======*/

.services-item-left,
.services-item-right{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 515px;
    
    justify-content: center;
    align-items: center;
}

.services-item-left:hover .services-icon,
.services-item-right:hover .services-icon{
    -webkit-animation-name: wobble;
    animation-name: wobble;
}

.services-item-left .services-info{
    order: 2;
}

.services-item-left .services-info .services-info__title{
    margin-bottom: 20px;
    
    text-align: center;
}

.services-item-left .services-info .services-info__text{
    text-align: center;
}

.services-item-right .services-info .services-info__title{
    margin-bottom: 20px;
    
    text-align: center;
}

.services-item-right .services-info .services-info__text{
    text-align: center;
}

.services-icon{
    width: 90px;
}

.services-icon__wrapper{
    display: flex;
    overflow: hidden;
    
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
    padding-top: 15px;
    
    border: 2px solid #985336;
    border-radius: 50%;
    
    justify-content: center;
    align-items: center;
}

.services-icon__wrapper span[class^='icon-']{
    font-size: 2.875rem;
    
    display: inline-block;
    
    color: #985336;
}

/*======end SERVICES section ======*/

/*======begin APPOINTMENT section======*/

.appointment{
    padding-top: 85px;
    padding-bottom: 85px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.appointment-header{
    margin-bottom: 80px;
}

.appointment-header .section-subtitle{
    color: #cfcdcd;
}

.appointment-form-group{
    margin-bottom: 49px;
}

.appointment-input,
.appointment-textarea{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    padding: 8px 10px 6px;
    
    color: #fff;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #8f8f8f;
    border-left: none;
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

.appointment-input::-moz-placeholder,
.appointment-textarea::-moz-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #8f8f8f;
}

.appointment-input:-ms-input-placeholder,
.appointment-textarea:-ms-input-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #8f8f8f;
}

.appointment-input::-ms-input-placeholder,
.appointment-textarea::-ms-input-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #8f8f8f;
}

.appointment-input::placeholder,
.appointment-textarea::placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #8f8f8f;
}

.appointment-input:focus,
.appointment-textarea:focus{
    color: #fff;
    border-color: #fff;
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.appointment-textarea{
    height: 124px !important;
    
    resize: none;
}

.form-group-textarea{
    margin-bottom: 0;
}

.select-form-group{
    margin-bottom: 49px;
}

.select-form-group label{
    position: relative;
    
    width: 100%;
    margin-bottom: 0;
}

.select-form-group label::after{
    font-family: 'iconical';
    font-size: 1rem;
    
    position: absolute;
    top: 6px;
    right: 8px;
    
    padding: 0 0 2px;
    
    content: '\E001';
    pointer-events: none;
    
    color: #8f8f8f;
}

.select-form-group label::before{
    position: absolute;
    top: 0;
    right: 6px;
    
    display: block;
    
    width: 20px;
    height: 20px;
    
    content: '';
    pointer-events: none;
}

select{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    display: inline-block;
    
    width: 100%;
    padding: 8px 10px 10px;
    
    cursor: pointer;
    
    color: #8f8f8f;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #8f8f8f;
    border-left: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    
    -webkit-appearance: none;
    -moz-appearance: none;
}

.appointment-date-input{
    font-size: 1rem;
    
    color: #8f8f8f;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #8f8f8f;
    border-left: 0;
    border-radius: 0;
    background-color: transparent;
}

.appointment-date-outer{
    position: relative !important;
}

.appointment-date-outer::before{
    font-family: 'iconical';
    font-size: 1.125rem;
    
    position: absolute;
    top: 4px;
    right: 4px;
    
    display: inline-block;
    
    content: '\E005';
    
    color: #8f8f8f;
}

/*======end APPOINTMENT section======*/

/*======begin BARBERS section======*/

.barbers{
    padding-top: 70px;
    padding-bottom: 70px;
    
    background-color: #fff;
}

.barbers-header{
    margin-bottom: 35px;
}

.barbers-item{
    border: 0;
    border-radius: 0;
}

.barbers-item__body{
    padding-top: 30px;
    padding-bottom: 0;
}

.barbers-item__ratio{
    display: flex;
    
    margin-bottom: 22px;
    
    justify-content: center;
    align-items: center;
}

.barbers-item__ratio li{
    margin-right: 10px;
}

.barbers-item__ratio li:last-child{
    margin-right: 0;
}

.barbers-item__ratio li span[class^='icon-']{
    color: #985336;
}

/*======end BARBERS section======*/

/*======begin CLIENTS section======*/

.clients{
    padding-top: 65px;
    padding-bottom: 65px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clients-header{
    margin-bottom: 27px;
}

.clients-header .section-subtitle{
    color: #cfcdcd;
}

.clients-carousel__outer{
    position: relative;
}

.clients-item__ratio{
    display: flex;
    
    margin-bottom: 47px;
    
    justify-content: center;
    align-items: center;
}

.clients-item__ratio li{
    margin-right: 10px;
}

.clients-item__ratio li:last-child{
    margin-right: 0;
}

.clients-item__ratio li span[class^='icon-']{
    color: #985336;
}

.clients-item__inner{
    width: 102px;
    height: 102px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
}

.clients-item__image{
    display: inline-block;
    
    width: 102px;
    height: 102px;
    margin-bottom: 24px;
    
    border-radius: 50%;
}

.clients-nav{
    display: none;
}

.clients-nav button{
    font-size: 1.875rem;
    
    display: inline-block;
    
    width: 55px;
    height: 55px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
    
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    
    color: #985336;
    border: 2px solid #985336;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
}

.clients-nav button:hover{
    color: #000;
    background-color: #985336;
}

.clients-nav span{
    display: none;
}

/*======end CLIENTS section======*/

/*======begin GALLERY section======*/

.gallery{
    padding-top: 65px;
    padding-bottom: 0;
    
    background-color: #fff;
}

.gallery-header{
    margin-bottom: 52px;
}

.gallery-content{
    display: flex;
    
    max-width: 1920px;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-content a{
    width: 100%;
}

/*======end GALLERY section======*/

/*======begin PRICES section======*/

.prices{
    padding-top: 65px;
    padding-bottom: 65px;
    
    background-color: #efefef;
}

.prices-header{
    margin-bottom: 52px;
}

.prices-item{
    width: 290px;
    margin-right: auto;
    margin-left: auto;
}

.prices-item:hover .prices-item__top{
    background-color: #985336;
}

.prices-item:hover .prices-item__bottom{
    background-color: #985336;
}

.prices-item:hover .prices-item__link{
    text-decoration: none;
    
    color: #fff;
}

.prices-item__top{
    padding-top: 25px;
    padding-bottom: 23px;
    
    transition: all .3s ease-in-out;
    
    background-color: #303030;
}

.prices-item__inner{
    padding: 43px 18px 47px;
    
    border-right: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
}

.prices-item__inner tr:first-child td{
    padding-top: 0;
}

.prices-item__inner tr:last-child td{
    padding-bottom: 0;
}

.prices-item__inner tr td{
    padding: 10px 0;
}

.prices-item__inner tr td:last-child{
    text-align: right;
}

.prices-item__bottom{
    transition: all .3s ease-in-out;
    
    background-color: #303030;
}

.prices-item__link{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    
    display: block;
    
    padding-top: 24px;
    padding-bottom: 21px;
    
    transition: all .3s ease-in-out;
    text-align: center;
    letter-spacing: 0.02813rem;
    text-transform: uppercase;
    
    color: #fff;
}

/*======end PRICES section======*/

/*======begin FOOTER======*/

.footer-top{
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*=== FOOTER-SUBSCRIBE ===*/

.footer-subscribe__inner{
    position: relative;
    
    width: 100%;
}

.footer-subscribe__input{
    line-height: 1.2;
    
    width: 100%;
    padding: 16px 64px 10px 20px;
    
    color: #454545;
    border: 1px solid #a7a7a7;
}

.footer-subscribe__input::-moz-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #969696;
}

.footer-subscribe__input:-ms-input-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #969696;
}

.footer-subscribe__input::-ms-input-placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #969696;
}

.footer-subscribe__input::placeholder{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #969696;
}

.footer-subscribe__button{
    position: absolute;
    z-index: 5000;
    top: 0;
    right: 0;
    
    width: 54px;
    height: 55px;
    
    transition: all .3s ease-in-out;
    
    border-radius: 0;
    background-color: #985336;
}

.footer-subscribe__button:hover{
    background-color: #fff;
}

.footer-subscribe__button:hover .icon-paper-plane{
    color: #985336;
}

.footer-subscribe__button .footer-subscribe__icon{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.footer-subscribe__button .icon-paper-plane{
    font-size: 1.125rem;
    
    display: inline-block;
    
    padding-top: 5px;
    
    transition: all .3s ease-in-out;
    
    color: #fff;
}

/*=== FOOTER-WORK ===*/

.footer-work{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
    background-color: transparent;
}

.footer-work tr td{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    
    padding-bottom: 20px;
    
    text-align: left;
    
    color: #ddd;
}

.footer-work tr td:first-child{
    padding-left: 20px;
    
    text-transform: uppercase;
}

.footer-work tr td:last-child{
    padding-right: 20px;
    
    text-align: right;
    text-transform: capitalize;
}

/*=== FOOTER-BLOG ===*/

.footer-post:first-of-type{
    margin-bottom: 20px;
}

/*=== FOOTER-INSTAGRAM ===*/

.footer-instagram{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-instagram__image-wrapper{
    flex-basis: calc(100% / 3 - 5px);
}

.footer-instagram__image-wrapper:nth-child(1),
.footer-instagram__image-wrapper:nth-child(2),
.footer-instagram__image-wrapper:nth-child(3){
    margin-bottom: 10px;
}

.footer-instagram__image-wrapper a{
    display: block;
}

/*=== FOOTER-BOTTOM ===*/

.footer-bottom{
    padding-top: 34px;
    padding-bottom: 28px;
    
    background-color: #000;
}

.footer-copy{
    text-align: center;
    
    order: 1;
}

.footer-social__nav{
    display: flex;
    
    margin-bottom: 15px;
    
    align-items: center;
    justify-content: center;
}

.footer-social__item{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    
    border: 1px solid #fff;
}

.footer-social__item:last-child{
    margin-right: 0;
}

.footer-social__link{
    display: flex;
    
    height: 100%;
    
    transition: all .3s ease-in-out;
    text-decoration: none;
    
    justify-content: center;
    align-items: center;
}

.footer-social__link:hover{
    text-decoration: none;
    
    background-color: #fff;
}

.footer-social__link:hover span{
    color: #985336;
}

.footer-social__link span{
    font-size: 1.5rem;
    line-height: 1;
    
    padding-top: 8px;
    
    transition: all .3s ease-in-out;
    
    color: #fff;
}

/*======end FOOTER======*/

/*======begin BUTTONS======*/

.btn-hero{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    
    margin-top: 65%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    color: #fff;
    border: 2px solid #985336;
    border-radius: 0;
}

.btn-hero:focus{
    box-shadow: none;
}

.btn-hero:hover{
    color: #fff;
    background-color: #985336;
}

.btn-appointment{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    margin-top: 40px;
    padding: 22px 19px;
    
    transition: all .3s ease-in-out;
    letter-spacing: 0.03125rem;
    text-transform: capitalize;
    
    color: #fff;
    border: 2px solid #6e331a;
    border-radius: 0;
    background-color: #985336;
}

.btn-appointment:hover{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-top{
    position: fixed;
    z-index: 2000;
    right: 30px;
    bottom: 70px;
    
    width: 30px;
    height: 50px;
    padding: 10px 2px 2px;
    
    transition: all .3s ease-in-out;
    
    border: 2px solid transparent;
    border-radius: 0;
    background-color: rgba(152, 83, 54, .4);
}

.btn-top a{
    display: flex;
    
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

.btn-top a i{
    font-size: 1.875rem;
    
    color: rgba(255, 255, 255, .5);
}

.btn-top:hover{
    border: 2px solid rgba(215, 165, 144, .4);
    background-color: rgba(189, 104, 68, .4);
}

.btn-top:hover a{
    text-decoration: none;
}

/*======end BUTTONS======*/

/*======begin FORMS======*/

.modal-form-outer{
    padding-bottom: 20px;
}

.search-form-group{
    position: relative;
    
    width: 100%;
    margin-top: 20px;
}

.search-form-group button{
    position: absolute;
    top: 2px;
    right: 0;
    
    cursor: pointer;
}

.search-form-group button:active,
.search-form-group button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.search-form-group button span{
    font-size: 1.25rem;
}

.search-input{
    font-size: 1rem;
    
    width: 100%;
    padding: 12px 35px 8px 10px;
    
    border-top: none;
    border-right: none;
    border-left: none;
}

.search-input::-moz-placeholder{
    font-size: 1.125rem;
}

.search-input:-ms-input-placeholder{
    font-size: 1.125rem;
}

.search-input::-ms-input-placeholder{
    font-size: 1.125rem;
}

.search-input::placeholder{
    font-size: 1.125rem;
}

/*======end FORMS======*/

/*======begin TYPOGRAPHY======*/

.carousel-item__title{
    font-family: 'Vani Bold', sans-serif;
    font-size: 2.25rem;
    line-height: 1.319;
    
    display: none;
    
    margin-bottom: 40px;
    
    text-align: left;
    text-transform: uppercase;
    
    color: #fff;
}

.carousel-item__title span{
    color: #985336;
}

.section-title{
    font-family: 'Vani Bold', sans-serif;
    font-size: 2.25rem;
    font-size: 2rem;
    line-height: 1.2;
    
    margin-bottom: 14px;
    
    text-align: center;
    letter-spacing: 0.05625rem;
    text-transform: uppercase;
}

.title-dark{
    color: #212121;
}

.title-lite{
    color: #fff;
}

.footer-item__title{
    font-family: 'Vani Bold', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    
    margin-bottom: 30px;
    
    text-transform: uppercase;
    
    color: #985336;
}

.about-card__title{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    margin-bottom: 20px;
    
    text-align: center;
    letter-spacing: 0.03125rem;
    
    color: #212121;
}

.about-card__title::after{
    display: block;
    
    width: 97px;
    height: 2px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
    
    content: '';
    
    background-color: #985336;
}

.barbers-item__title{
    font-family: 'Vani Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    
    margin-bottom: 22px;
    
    text-align: center;
    letter-spacing: 0.0375rem;
    text-transform: capitalize;
    
    color: #0b0b0b;
}

.prices-item__title{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    
    text-align: center;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    
    color: #fff;
}

.services-info__title{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    letter-spacing: 0.03125rem;
    
    color: #212121;
}

.footer-post__title{
    margin-bottom: 20px;
}

.footer-post__title a{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    
    text-align: left;
    letter-spacing: 0.05625rem;
    
    color: #985336;
}

.footer-post__title a:hover{
    text-decoration: underline;
}

.section-subtitle{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    
    text-align: center;
    
    color: #3d3d3d;
}

.about-card__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.667;
    
    text-align: center;
    letter-spacing: 0.02813rem;
    
    color: #3d3d3d;
}

.facts__number{
    font-family: 'Vani Bold', sans-serif;
    font-size: 3.75rem;
    line-height: 1.2;
    
    margin-bottom: 5px;
    
    text-align: center;
    letter-spacing: 0.09375rem;
    
    color: #985336;
}

.facts__item{
    font-family: 'Quattrocento Sans Bold', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    text-align: center;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    
    color: #fff;
}

.services-info__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.667;
    
    letter-spacing: 0.02813rem;
    
    color: #3d3d3d;
}

.barbers-item__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.333;
    
    text-align: center;
    letter-spacing: 0.02813rem;
    
    color: #3d3d3d;
}

.clients-item__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.444;
    
    margin-bottom: 58px;
    
    text-align: center;
    letter-spacing: 0.02813rem;
    
    color: #cfcdcd;
}

.clients-item__name{
    font-family: 'Vani Regular', sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    
    text-align: center;
    letter-spacing: 0.03125rem;
    text-transform: capitalize;
    
    color: #fff;
}

.prices-table__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1.125rem;
    line-height: 1.2;
    
    letter-spacing: 0.02813rem;
    
    color: #3d3d3d;
}

.footer-subscribe .footer-item__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.333;
    
    margin-bottom: 47px;
    
    text-align: left;
    
    color: #fff;
}

.footer-post__text{
    font-family: 'Quattrocento Sans Regular', sans-serif;
    font-size: 0.875rem;
    line-height: 1.429;
    
    text-align: left;
    letter-spacing: 0.04375rem;
    
    color: #ddd;
}

.footer-copy__text{
    font-family: 'Quattrocento Sans Bold', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    
    color: #cfcdcd;
}

/*======end TYPOGRAPHY======*/

/*======begin MEDIA QUERIES======*/

@media (min-width: 320px){
    .divider .divider-icon-wrapper::before{
        left: calc(-10vw - 78px);
    }
    
    .divider .divider-icon-wrapper::after{
        right: calc(-10vw - 78px);
    }
    
    .carousel-item{
        height: calc(82.27272727vw - 1.27272727px);
    }
    
    .barbers{
        padding-top: calc(16.29464286vw + 17.85714286px);
    }
    
    .barbers{
        padding-bottom: calc(16.96428571vw + 15.71428571px);
    }
    
    .prices-item{
        width: calc(31.25vw + 190px);
    }
    
    .btn-hero{
        font-size: calc(2.34375vw + 1.03125rem);
    }
    
    .btn-hero{
        padding-top: calc(3.90625vw - 2.5px);
    }
    
    .btn-hero{
        padding-bottom: calc(3.90625vw - 2.5px);
    }
    
    .btn-hero{
        padding-left: calc(5.46875vw - 7.5px);
    }
    
    .btn-hero{
        padding-right: calc(5.46875vw - 7.5px);
    }
    
    .section-title{
        font-size: calc(4vw + 1.2rem);
    }
}

@media (min-width: 420px){
    .divider .divider-icon-wrapper::before{
        left: -120px;
    }
    
    .divider .divider-icon-wrapper::after{
        right: -120px;
    }
    
    .gallery-content a{
        width: 50%;
    }
    
    .footer-work{
        width: 80%;
    }
    
    .section-title{
        font-size: 2.25rem;
    }
}

@media (min-width: 576px){
    .header-contact__content{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100px repeat(2, auto);
        -moz-column-gap: 15px;
        column-gap: 15px;
        row-gap: 15px;
    }
    
    .header-contact__logo{
        margin-right: auto;
        margin-left: auto;
        
        grid-column: 3/5;
    }
    
    .header-contact__phone{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    
    .header-contact__adr{
        text-align: right !important;
        
        grid-column: 4/7;
        grid-row: 2/3;
    }
    
    .header-contact__open{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .header-contact__search{
        grid-column: 6/7;
        grid-row: 3/4;
    }
    
    .header-contact__info::before{
        left: -32px;
    }
    
    .header-contact__info{
        margin-left: 35px;
    }
    
    .carousel-item{
        text-align: left;
    }
    
    .carousel-item__inner{
        position: absolute;
        top: 50%;
        
        transform: translateY(-50%);
    }
    
    .about{
        padding-top: 143px;
        padding-bottom: 150px;
    }
    
    .services-grid{
        grid-template-columns: auto minmax(30px, 1fr) auto;
        grid-template-rows: auto auto;
    }
    
    .services-cut{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .services-style{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .services-wash{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .services-shave{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .appointment{
        padding-top: 143px;
        padding-bottom: 150px;
    }
    
    .clients{
        padding-top: 136px;
        padding-bottom: 146px;
    }
    
    .clients-nav{
        position: absolute;
        z-index: 1000;
        top: 30%;
        
        display: flex;
        
        width: 100%;
        
        cursor: pointer;
        
        justify-content: space-between;
        align-items: center;
    }
    
    .gallery-content a{
        width: calc(100% / 3);
    }
    
    .prices{
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .prices-item{
        width: 370px;
    }
    
    .prices-item{
        width: 100%;
    }
    
    .footer-top{
        padding-top: 148px;
        padding-bottom: 148px;
    }
    
    .footer-work{
        width: 100%;
        margin-right: initial;
        margin-left: initial;
    }
    
    .footer-copy{
        text-align: left;
        
        order: initial;
    }
    
    .footer-social__nav{
        margin-bottom: 0;
        
        justify-content: flex-end;
    }
    
    .btn-hero{
        font-size: 1.875rem;
    }
    
    .btn-hero{
        padding-top: 20px;
    }
    
    .btn-hero{
        padding-bottom: 20px;
    }
    
    .btn-hero{
        padding-left: 24px;
    }
    
    .btn-hero{
        padding-right: 24px;
    }
    
    .btn-hero{
        margin-top: 0;
    }
    
    .carousel-item__title{
        display: block;
    }
    
    .footer-item__title{
        margin-bottom: 57px;
    }
    
    .about-card__title{
        margin-bottom: 33px;
    }
}

@media (min-width: 767.99px){
    .carousel-item__content{
        margin-left: calc(800000.000001vw - 6143920.00001px);
    }
}

@media (min-width: 768px){
    .carousel-item__content{
        margin-left: calc(4.62962963vw + 44.44444444px);
    }
    
    .about-card__body{
        padding-bottom: 86px;
    }
    
    .services{
        padding-top: 143px;
    }
    
    .services-header{
        margin-bottom: 100px;
    }
    
    .barbers{
        padding-top: 143px;
    }
    
    .barbers{
        padding-bottom: 146px;
    }
    
    .gallery{
        padding-top: 143px;
    }
    
    .footer-copy{
        display: flex;
        
        align-items: center;
    }
    
    .carousel-item__title{
        font-size: calc(8.33333333vw - 1.75rem);
    }
}

@media (min-width: 992px){
    .header-contact{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .header-contact__content{
        grid-template-columns: minmax(120px, 165px) repeat(2, 262px) minmax(135px, 262px) minmax(22px, 67px);
        grid-template-rows: 100px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
    
    .header-contact__logo{
        margin-right: 0;
        margin-left: 0;
        
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .header-contact__phone{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .header-contact__adr{
        text-align: initial;
        
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
    .header-contact__open{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .header-contact__search{
        grid-column: 5/6;
        grid-row: 1/2;
    }
    
    .header-contact__links{
        margin-left: 70px;
    }
    
    .header-contact__info{
        display: block;
        
        margin-left: 33px;
    }
    
    .services-item-left,
    .services-item-right{
        flex-direction: row;
    }
    
    .services-item-left .services-info{
        padding-right: 37px;
        
        order: initial;
    }
    
    .services-item-left .services-info .services-info__title{
        margin-bottom: 35px;
        
        text-align: right;
    }
    
    .services-item-left .services-info .services-info__text{
        text-align: right;
    }
    
    .services-item-right .services-info{
        padding-left: 37px;
    }
    
    .services-item-right .services-info .services-info__title{
        margin-bottom: 35px;
        
        text-align: left;
    }
    
    .services-item-right .services-info .services-info__text{
        text-align: left;
    }
    
    .services-icon__wrapper{
        margin-bottom: 0;
    }
    
    .gallery-content a{
        width: calc(100% / 5);
    }
}

@media (min-width: 1200px){
    .carousel-item{
        height: 986px;
    }
    
    .carousel-item__content{
        margin-left: calc(-66.66666667vw + 900px);
    }
    
    .header-nav{
        padding-top: 0;
        padding-bottom: 0;
        
        background-color: rgba(0, 0, 0, .25);
    }
    
    .header-nav .navbar .navbar-nav{
        padding-top: 0;
    }
    
    .header-nav .navbar .nav-link{
        padding-top: 27px;
        padding-bottom: 26px;
    }
    
    .services-content{
        background: url('../img/background/services-man.png'), url('../img/background/services-bg.jpg') #fff;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain, 100%;
    }
    
    .services-content{
        padding-top: calc(11.80555556vw - 141.66666667px);
    }
    
    .services-content{
        padding-bottom: calc(48.19444444vw - 493.33333333px);
    }
    
    .services-grid{
        row-gap: calc(14.30555556vw - 141.66666667px);
    }
    
    .carousel-item__title{
        font-size: 4.5rem;
    }
}

@media (min-width: 1350px){
    .carousel-item__content{
        margin-left: 0;
    }
}

@media (min-width: 1700px){
    .services-grid{
        width: 84.16666667%;
    }
}

@media (min-width: 1920px){
    .services-content{
        padding-top: 85px;
    }
    
    .services-content{
        padding-bottom: 432px;
    }
    
    .services-grid{
        row-gap: 133px;
    }
    
    .gallery-content{
        margin-right: auto;
        margin-left: auto;
    }
}
