/*===============CSS===========================*/

/*======begin FONTS======*/

@font-face {
    font-family: 'OpenSans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/Open Sans Bold/Open Sans Bold.woff2') format('woff2'), url('../fonts/Open Sans Bold/Open Sans Bold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/Open Sans Extrabold Regular/Open Sans Extrabold Regular.woff2') format('woff2'), url('../fonts/Open Sans Extrabold Regular/Open Sans Extrabold Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/Open Sans Light Regular/Open Sans Light Regular.woff2') format('woff2'), url('../fonts/Open Sans Light Regular/Open Sans Light Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/Open Sans Regular/Open Sans Regular.woff2') format('woff2'), url('../fonts/Open Sans Regular/Open Sans Regular.woff') format('woff');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/Open Sans Semibold Regular/Open Sans Semibold Regular.woff2') format('woff2'), url('../fonts/Open Sans Semibold Regular/Open Sans Semibold Regular.woff') format('woff');
}

@font-face {
    font-family: 'fontawesome';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff');
}

/*======end FONTS======*/

/*======ADJUSTMENT======*/

html {
    font-size: 1rem;
}

body {
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.container {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

/*======END ADJUSTMENT======*/

/*======HEADER=======*/

.header {
    position: absolute;
    z-index: 2;

    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
}

.header-items {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;

    width: 90px;
    height: 27px;
}

.nav {
    font-size: 0;

    display: block;
}

.nav__item {
    display: inline-block;

    margin-right: 32px;
}

.nav__item:last-child {
    margin-right: 0;
}

/*======end HEADER======*/

/*=======begin HERO section======*/

.hero {
    background-color: #114033;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content {
    position: relative;
}

.hero__item {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: calc(460 * 100% / 1600);
    padding-bottom: calc(52 * 100% / 1600);
}

.hero__title {
    font-family: OpenSans, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;

    text-align: center;

    color: #fff;
}

.hero__title span {
    font-family: OpenSans, sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

.hero__subtitle {
    font-family: OpenSans, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;

    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    text-align: center;

    color: #fff;
}

.hero__subtitle span {
    color: #0feb9e;
}

.hero__description {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.2;

    display: inline-block;

    margin-bottom: 108px;

    text-align: center;

    color: #fff;
}

.hero__description::before,
.hero__description::after {
    display: inline-block;

    width: 28px;
    width: 15px;
    height: 1px;
    margin-bottom: 5px;

    content: '';

    background-color: #0feb9e;
}

.hero__description:before {
    margin-right: 5px;
}

.hero__description::after {
    margin-left: 5px;
}

.hero-social {
    font-size: 0;

    text-align: center;
}

.hero-social__item {
    display: inline-block;

    margin-right: 17px;
}

.hero-social__item:last-child {
    margin-right: 0;
}

.hero-social__link {
    font-size: 1.125rem;

    transition: all .3s ease-in-out;

    color: rgba(255, 255, 255, .3);
}

.hero-social__link:hover {
    color: #fff;
}

.hero-slider-pager {
    position: absolute;
    top: calc(50% - 31.5px);
    right: calc(48 * 100% / 1600);

    display: inline-block;
}

.hero-slider-pager a {
    display: block;

    width: 7px;
    height: 7px;
    margin-bottom: 14px;

    transition: all .3s ease-in-out;

    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.hero-slider-pager a:last-child {
    margin-bottom: 0;
}

.hero-slider-pager a:hover,
.hero-slider-pager a.active,
.hero-slider-pager a:focus {
    border: 1px solid #fff;
    background-color: #fff;
}

/*=======end HERO section======*/

/*======begin FEATURES section======*/

.features {
    padding-top: calc(72 * 100% / 1170);
    padding-bottom: calc(54 * 100% / 1170);

    text-align: center;

    background-color: #f4f7f9;
}

.features__items {
    margin-bottom: calc(67 * 100% / 1170);
}

.features-item {
    padding-left: 70px;
}

.features .features-carousel-dots {
    display: block;
}

.features .features-carousel-dot {
    display: inline-block;

    width: 8px;
    height: 8px;
    margin-right: 15px;
    padding: 0;

    cursor: pointer;
    transition: all .3s ease-in-out;

    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
}

.features .features-carousel-dot:last-child {
    margin-right: 0;
}

.features .features-carousel-dot:hover,
.features .features-carousel-dot.active {
    background-color: #000;
}

/*======end FEATURES section======*/

/*======begin WORKS section======*/

.works {
    padding-top: calc(95 * 100% / 1170);
    padding-bottom: 0;

    text-align: center;

    background-color: #fff;
}

.resp-tabs-list {
    display: inline-block;
}

.works-link {
    display: inline-block;

    text-decoration: none;

    outline: none;
}

.works-item:hover .works-item__overlay {
    transition: opacity .3s;

    opacity: 1;
}

.works-image__wrapper {
    position: relative;

    width: 100%;
    height: auto;
}

.works-item__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
    padding: 95px 40px;

    transition: opacity .3s;

    opacity: 0;
    background-color: rgba(14, 180, 147, .9);
}

/*======end WORKS section======*/

/*======begin TEAM section======*/

.team {
    padding-top: calc(97 * 100% / 1170);
    padding-bottom: calc(120 * 100% / 1170);

    text-align: center;

    background-color: #fff;
}

.team-content {
    margin-bottom: calc(87 * 100% / 1170);
}

.team-item {
    width: 100%;
    margin: 0 auto;

    cursor: pointer;
}

.team-item:hover .team-item__content {
    opacity: 1;
}

.team-item:hover .team-item__name {
    color: #0eb493;
}

.team-item__wrapper {
    position: relative;

    margin-bottom: 20px;
}

.team-item__image {
    display: block;

    width: 100%;
    height: auto;
}

.team-item__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 22px;

    transition: opacity .3s;

    opacity: 0;
    background-color: rgba(14, 180, 147, .9);

    align-items: center;
    justify-content: space-between;
}

.team-social {
    font-size: 0;
}

.team-social__item {
    display: inline-block;

    margin-right: 4px;
}

.team-social__item:last-child {
    margin-right: 0;
}

.team-social__link {
    font-size: 1.5rem;

    position: relative;

    display: inline-block;

    width: 42px;
    height: 42px;

    transition: all .3s ease-in-out;

    color: #fff;
    background: #0f7e68;
}

.team-social__link span {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.team-social__link:hover {
    color: #0f7e68;
    background-color: #fff;
}

.team .team-carousel-dots {
    display: block;
}

.team .team-carousel-dot {
    display: inline-block;

    width: 8px;
    height: 8px;
    margin-right: 15px;
    padding: 0;

    cursor: pointer;
    transition: all .3s ease-in-out;

    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
}

.team .team-carousel-dot:last-child {
    margin-right: 0;
}

.team .team-carousel-dot:hover,
.team .team-carousel-dot.active {
    background-color: #000;
}

/*======end TEAM section======*/

/*======begin FACTS section======*/

.facts {
    padding-top: calc(96 * 100% / 1170);
    padding-bottom: calc(154 * 100% / 1170);

    text-align: center;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.facts__items {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.facts-item {
    margin-bottom: 0;

    flex-basis: calc(270 * 100% / 1170);
}

.facts__icon-clock,
.facts__icon-friends,
.facts__icon-rocket,
.facts__icon-cup {
    position: relative;

    display: block;

    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;

    text-align: center;

    border: 2px solid #6e7983;
    border-radius: 50%;
}

.facts__icon-clock::before,
.facts__icon-friends::before,
.facts__icon-rocket::before,
.facts__icon-cup::before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    content: '';
    transform: translate(-50%, -50%);
}

.facts__icon-clock::before {
    width: 40px;
    height: 40px;

    background-image: url(../img/sprite.png);
    background-position: 0 0;
}

.facts__icon-friends::before {
    width: 38px;
    height: 38px;

    background-image: url(../img/sprite.png);
    background-position: 0 -90px;
}

.facts__icon-rocket::before {
    width: 33px;
    height: 33px;

    background-image: url(../img/sprite.png);
    background-position: -43px -90px;
}

.facts__icon-cup::before {
    width: 40px;
    height: 38px;

    background-image: url(../img/sprite.png);
    background-position: -90px -45px;
}

/*======end FACTS section======*/

/*======begin DISCUSS section======*/

.discuss {
    padding-top: calc(95 * 100% / 1170);
    padding-bottom: calc(108 * 100% / 1170);

    text-align: center;

    background-color: #fff;
}

.discuss__content {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.discuss-address {
    padding-bottom: 34px;
    padding-left: 10px;

    flex-basis: calc(270 * 100% / 1170);
}

.discuss-form {
    width: calc(770 * 100% / 1170);

    text-align: right;
}

.discuss-form input {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;

    padding: 17px 8px 17px 12px;

    color: #062033;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.discuss-form input::-webkit-input-placeholder {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #5b646e;
}

.discuss-form input::-moz-placeholder {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #5b646e;
}

.discuss-form input:-ms-input-placeholder {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #5b646e;
}

.discuss-form input::-ms-input-placeholder {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #5b646e;
}

.discuss-form input::placeholder {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #5b646e;
}

.discuss-form input[name='username'],
.discuss-form input[name='usermail'] {
    width: calc(370 * 100% / 770);
}

.discuss-form input[name='message'] {
    display: block;

    width: 100%;
}

.discuss-form__data {
    display: flex;

    margin-bottom: 30px;

    justify-content: space-between;
}

.discuss-form__title {
    font-family: OpenSans, sans-serif;
    font-size: 1.5rem;
    line-height: 1;

    margin-bottom: 37px;

    text-align: left;

    color: #062033;
}

.discuss-form__message {
    margin-bottom: 37px;
}

.discuss-social {
    font-size: 0;

    padding-top: 19px;

    flex-basis: calc(70 * 100% / 1170);
}

.discuss-social__item {
    display: block;

    margin-bottom: 10px;
}

.discuss-social__item:last-child {
    margin-bottom: 0;
}

.discuss-social__link {
    font-size: 1.625rem;

    display: inline-block;

    transition: all .3s ease-in-out;

    color: rgba(6, 32, 51, .2);
}

.discuss-social__link:hover {
    color: #062033;
}

/*======end DISCUSS section======*/

/*======begin MAP section======*/

#map {
    width: 100%;
    height: 215px;
}

/*======end MAP section======*/

/*======begin FOOTER======*/

.footer {
    padding-top: calc(100 * 100% / 1170);
    padding-bottom: calc(122 * 100% / 1170);

    border-top: 5px solid #062033;
    background-color: #1ea78d;
}

.footer-items {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    flex-basis: calc(270 * 100% / 1170);
}

.footer-logo__holder {
    font-size: 0;

    margin-bottom: 40px;
}

.footer-logo__holder a {
    text-decoration: none;
}

.footer-logo__image {
    display: block;

    width: 90px;
    height: 27px;
}

.footer-links__holder {
    display: flex;

    padding-right: 0;

    justify-content: space-between;
    align-items: center;
}

.footer-subscribe,
.footer-links {
    padding-top: 14px;
}

.footer-copy {
    padding-top: 69px;
    padding-right: 12px;
    padding-left: 12px;
}

.footer-copy__description {
    position: relative;
}

.footer-copy__description::before {
    position: absolute;
    top: 0;
    left: -12px;

    display: inline-block;

    width: 1px;
    height: 100%;

    content: '';

    background-color: #062033;
}

/*======end FOOTER======*/

/*======begin FORMS======*/

.footer-subscribe__form {
    position: relative;

    margin-bottom: 24px;
}

.footer-subscribe__input {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;

    display: block;

    width: 100%;
    padding-top: 9px;
    padding-right: 38px;
    padding-bottom: 9px;
    padding-left: 10px;

    letter-spacing: 0.09375rem;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    outline: none;
    background-color: #1ea78d;
}

.footer-subscribe__input::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;

    color: #062033;
}

.footer-subscribe__input::-moz-placeholder {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;

    color: #062033;
}

.footer-subscribe__input:-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;

    color: #062033;
}

.footer-subscribe__input::-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;

    color: #062033;
}

.footer-subscribe__input::placeholder {
    font-size: 1rem;
    font-weight: 400;

    letter-spacing: normal;

    color: #062033;
}

.footer-subscribe__button {
    position: absolute;
    top: 50%;
    right: 8px;

    padding: 0 10px 0 0;

    cursor: pointer;
    transition: all .3s ease-in-out;
    transform: translateY(-50%);

    color: rgba(255, 255, 255, .5);
    border: 0;
    outline: none;
    background-color: transparent;
}

.footer-subscribe__button:hover,
.footer-subscribe__button:focus {
    color: #fff;
}

.footer-subscribe__button:active {
    color: #062033;
}

/*======end FORMS======*/

/*======begin BUTTONS======*/

.btn-top {
    position: fixed;
    z-index: 20;
    right: 20px;
    bottom: 25px;

    display: none;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding-bottom: 5px;

    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;

    opacity: .3;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #1368a5;
}

.btn-top:hover {
    background-color: #0b3d61;
}

.fa-chevron-up {
    font-size: 1.5rem;
    font-weight: 400;

    display: inline-block;

    vertical-align: top;

    color: #fff;
}

.discuss-form__button {
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: calc(24 / 16);

    width: 145px;
    margin-right: 0;
    padding: 0;

    cursor: pointer;

    color: #000;
    border: 0;
    outline: none;
    background-color: transparent;
}

.discuss-form__button span {
    font-size: 1.125rem;

    margin-right: 12px;

    transition: all .3s ease-in-out;

    color: #000;
}

.discuss-form__button:hover span {
    color: #0eb493;
}

.discuss-form__button:active span {
    color: red;
}

.header__icon {
    display: none;
}

.menu-icon {
    position: relative;

    display: none;
    overflow: hidden;

    width: 20px;
    height: 12.5px;

    cursor: pointer;
}

.menu-icon:before,
.menu-icon:after {
    display: block;

    width: 2px;
    height: 14px;

    content: '';
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
    transform-origin: center center;

    background-color: #fff;
}

.menu-icon:before {
    position: absolute;
    top: 0;
    left: 9px;

    transform: rotate(-45deg);
}

.menu-icon:after {
    position: absolute;
    top: 0;
    right: 9px;

    transform: rotate(45deg);
}

.menu-icon .bar {
    width: 100%;
    height: 2.5px;

    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;

    border-radius: 20px;
    background-color: #fff;
}

.menu-icon .bar-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-icon .bar-2 {
    position: absolute;
    top: 5px;
    left: 0;
}

.menu-icon .bar-3 {
    position: absolute;
    top: 10px;
    left: 0;
}

.menu-icon.opened .bar {
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon.opened:before,
.menu-icon.opened:after {
    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon-3:before {
    transform: rotate(-90deg);
}

.menu-icon-3:after {
    transform: rotate(90deg);
}

.menu-icon-3:before,
.menu-icon-3:after {
    top: -1px;
}

.menu-icon-3.opened:before {
    transform: rotate(-45deg);
}

.menu-icon-3.opened:after {
    transform: rotate(45deg);
}

.menu-icon-3.opened:before,
.menu-icon-3.opened:after {
    top: 0;
}

.menu-icon-3.opened .bar {
    opacity: 0;
}

.menu-icon-3.opened .bar-1 {
    top: 5px;
}

.menu-icon-3.opened .bar-3 {
    top: 5px;
}

/*======end BUTTONS======*/

/*======begin ICONS======*/

.section__ico-heart {
    font-size: 1.125rem;

    position: relative;

    display: inline-block;

    text-align: center;

    color: #6e7983;
}

.section__ico-heart::before,
.section__ico-heart::after {
    position: absolute;
    top: 50%;

    display: inline-block;

    width: 90px;
    height: 1px;

    content: '';
    transform: translateY(-50%);

    background-color: #6e7983;
}

.section__ico-heart::before {
    right: calc(100% + 14px);
}

.section__ico-heart::after {
    left: calc(100% + 14px);
}

.features__ico-heart {
    margin-bottom: calc(64 * 100% / 1170);
}

.works__ico-heart,
.team__ico-heart,
.discuss__ico-heart {
    margin-bottom: 35px;
}

.facts__ico-heart {
    margin-bottom: 30px;

    color: #fff;
}

.features__ico {
    position: absolute;
    left: 15px;
}

.features__ico--brand {
    width: 40px;
    height: 40px;

    background-image: url(../img/sprite.png);
    background-position: -45px 0;
}

.features__ico--develop {
    width: 40px;
    height: 40px;

    background-image: url(../img/sprite.png);
    background-position: -45px -45px;
}

.features__ico--consult {
    width: 40px;
    height: 40px;

    background-image: url(../img/sprite.png);
    background-position: 0 -45px;
}

.works-item__icon {
    display: inline-block;

    width: 40px;
    height: 40px;
    margin-bottom: 30px;

    background-image: url(../img/sprite.png);
    background-position: -90px 0;
}

/*======end ICONS======*/

/*======begin bx-slider======*/

/** VARIABLES
===================================*/

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    *zoom: 1;
    touch-action: pan-y;
}

.bx-wrapper img {
    display: block;

    max-width: 100%;
}

.bxslider {
    margin: 0;
    padding: 0;
    /*fix flickering when used background-image instead of <img> (on Chrome)*/

    -webkit-perspective: 1000;
}

ul.bxslider {
    list-style: none;
}

.bx-viewport {
    /* fix other elements on the page moving (in Chrome) */
    -webkit-transform: translateZ(0);
}

/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;

    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: 50px;
}

/* PAGER */

.bx-wrapper .bx-pager {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85em;
    font-weight: bold;

    padding-top: 20px;

    text-align: center;

    color: #666;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    display: block;

    width: 10px;
    height: 10px;
    margin: 0 5px;

    text-indent: -9999px;

    border-radius: 5px;
    outline: 0;
    background: #666;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #000;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;

    vertical-align: bottom;

    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
    background-position: 0 0;
}

.bx-wrapper .bx-next {
    right: 10px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    z-index: 9999;
    top: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;

    text-indent: -9999px;

    outline: 0;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;

    width: 10px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;

    width: 9px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    width: 80%;

    text-align: left;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;

    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #666;
    background: rgba(80, 80, 80, .75);
}

.bx-wrapper .bx-caption span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85em;

    display: block;

    padding: 10px;

    color: #fff;
}

/*======CUSTOM PAGER======*/

.features-pager,
.team-pager {
    font-size: 0;
}

.features-pager a,
.team-pager a {
    display: inline-block;

    width: 7px;
    height: 7px;
    margin-right: 15px;

    transition: all .3s ease-in-out;

    border: 1px solid rgba(6, 32, 51, .2);
    border-radius: 50%;
    background-color: transparent;
}

.features-pager a:hover,
.features-pager a.active,
.features-pager a:focus,
.team-pager a:hover,
.team-pager a.active,
.team-pager a:focus {
    border: 1px solid #062033;
    background-color: #062033;
}

.features-pager a:last-child,
.team-pager a:last-child {
    margin-right: 0;
}

/*======end bx-slider======*/

/*======begin EASY-RESPONSIVE-TABS======*/

ul.resp-tabs-list,
p {
    margin: 0;
    padding: 0;
}

.resp-tabs-list li {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.2;

    display: inline-block;
    float: left;

    margin: 0 10px 0 0;
    padding-top: 8px;
    padding-right: 21px;
    padding-bottom: 6px;
    padding-left: 19px;

    list-style: none;

    cursor: pointer;

    border-radius: 4px;
    background-color: #fff;
}

.resp-tabs-container {
    clear: left;

    padding: 0;

    background-color: #fff;
}

h2.resp-accordion {
    display: none;

    padding: 5px;

    cursor: pointer;
}

.resp-tab-content {
    display: none;

    padding: 38px 0 0 0;
}

.resp-tab-content img {
    vertical-align: middle;
}

.resp-tab-active {
    margin-bottom: -1px !important;

    color: #fff;
}

.resp-tab-active {
    background-color: #0eb493 !important;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

h2.resp-accordion {
    font-size: 0.8125rem;

    margin: 0;
    padding: 10px 15px;

    border: 1px solid #c1c1c1;
    border-top: 0 solid #c1c1c1;
}

h2.resp-tab-active {
    margin-bottom: 0 !important;
    padding: 10px 15px !important;

    border-bottom: 0 solid #c1c1c1 !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/

/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: #dbdbdb;
    /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
    /* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    /* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

.resp-tab-content img {
    width: 320px;
}

/*======end EASY-RESPONSIVE-TABS======*/

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;

    display: none;

    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-stage {
    position: relative;

    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}

.owl-carousel .owl-stage-outer {
    position: relative;

    overflow: hidden;
    /* fix for flashing background */

    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.owl-carousel .owl-item {
    position: relative;

    float: left;

    min-height: 1px;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;

    width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    font: inherit;

    padding: 0 !important;

    color: inherit;
    border: none;
    background: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    display: block;

    opacity: 0;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    touch-action: pan-y;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */

.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
    /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
    transition: opacity 400ms ease;

    opacity: 0;
}

.owl-carousel .owl-item .owl-lazy[src^=''],
.owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
    position: relative;

    height: 100%;

    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;

    cursor: pointer;
    transition: transform 100ms ease;

    background: url('owl.video.play.png') no-repeat;

    -webkit-backface-visibility: hidden;
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    height: 100%;

    transition: opacity 400ms ease;

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}

/*======begin TYPOGRAPHY======*/

.section__title {
    font-family: OpenSans, sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.2;

    margin-bottom: 17px;

    text-align: center;
    text-transform: uppercase;

    color: #0eb493;
}

.section__subtitle {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;

    color: #062033;
}

.works__subtitle {
    width: calc(970 * 100% / 1170);
    margin: 0 auto 47px;
}

.team__subtitle {
    width: calc(970 * 100% / 1170);
    margin: 0 auto calc(107 * 100% / 1170);
}

.discuss__subtitle {
    margin-bottom: 78px;
    padding-right: 20px;
    padding-left: 20px;
}

.features-item__title {
    font-family: OpenSans, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;

    margin-bottom: 21px;

    text-align: left;

    color: #062033;
}

.discuss-address__title {
    font-family: OpenSans, sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 2rem;

    margin-bottom: 38px;

    text-align: left;

    color: #062033;
}

.works-item__title {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5rem;

    color: #fff;
}

.works-item__subtitle {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: #fff;
}

.team-item__name {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;

    transition: all .3s ease-in-out;
    text-align: center;

    color: #062033;
}

.footer-item__title {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;

    margin-bottom: 29px;

    text-align: left;

    color: #fff;
}

.features-item__description {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.3125rem;

    text-align: left;

    color: #062033;
}

.team-item__job {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    text-align: center;
}

.team-item__description {
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin-bottom: auto;

    color: #fff;
}

.team-item__description span {
    font-family: OpenSans, sans-serif;
    font-weight: 400;

    display: inline-block;

    margin-top: 12px;
}

.facts-item__number {
    font-family: OpenSans, sans-serif;
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;

    display: block;

    margin-bottom: 7px;

    color: #fff;
}

.facts-item__desc {
    font-family: OpenSans, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;

    display: block;

    text-transform: uppercase;

    color: #fff;
}

.discuss-address__info {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    text-align: left;

    color: #6a737b;
}

.footer-copy__description,
.footer-item__description {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    text-align: left;

    color: #fff;
}

.footer-copy__heart {
    font-size: 1rem;

    padding-right: 14px;
    padding-left: 9px;

    vertical-align: middle;

    color: #157562;
}

.footer-copy__author {
    color: #062033;
}

.footer-copy__rights {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5rem;

    margin-top: 45px;

    color: #062033;
}

.nav__link {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.2;

    position: relative;

    transition: all .3s ease-in-out;
    text-decoration: none;

    color: #fff;
}

.nav__link:hover::before,
.nav__link--active::before {
    position: absolute;
    top: -29px;
    left: -3px;

    display: inline-block;

    width: calc(100% + 3px);
    height: 3px;

    content: '';

    background-color: #32b0ee;
}

.footer-nav__link {
    font-family: OpenSans, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.9375rem;

    transition: all .2s ease-in-out;
    text-align: left;
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid transparent;
}

.footer-nav__link:hover {
    border-bottom: 1px solid #fff;
}

/*======end TYPOGRAPHY======*/

/*======begin MEDIA QUERIES======*/

@media (min-width: 320px) {
    .header {
        padding-bottom: calc(1.13636vw + 6.36364px);
    }

    .hero__description::before,
    .hero__description::after {
        width: calc(8.125vw - 11px);
    }

    .hero__description:before {
        margin-right: calc(17.5vw - 51px);
    }

    .hero__description::after {
        margin-left: calc(17.5vw - 51px);
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        margin-bottom: calc(3.63636vw - 1.63636px);
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        width: calc(3.40909vw + 89.09091px);
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        height: calc(3.40909vw + 89.09091px);
    }

    .facts__ico-heart {
        margin-bottom: calc(3.40909vw + 19.09091px);
    }

    .resp-tab-content img {
        width: calc(50vw + 160px);
    }

    .facts-item__number {
        font-size: calc(1.59091vw + 2.55682rem);
    }
}

@media (min-width: 480px) {
    .hero__title {
        font-size: calc(8.75vw + 0.375rem);
    }

    .hero__subtitle {
        font-size: calc(10vw - 1rem);
    }

    .hero__description::before,
    .hero__description::after {
        width: 28px;
    }

    .hero__description:before {
        margin-right: 33px;
    }

    .hero__description::after {
        margin-left: 33px;
    }

    .resp-tab-content img {
        width: 400px;
    }
}

@media (min-width: 576px) {
    .footer-links__holder {
        padding-right: calc(6.08974vw - 35.07692px);
    }
}

@media (min-width: 640px) {
    .hero__title {
        font-size: 3.875rem;
    }

    .hero__subtitle {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .header {
        padding-bottom: 20px;
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        margin-bottom: 42px;
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        width: 130px;
    }

    .facts__icon-clock,
    .facts__icon-friends,
    .facts__icon-rocket,
    .facts__icon-cup {
        height: 130px;
    }

    .footer-links__holder {
        padding-right: 38px;
    }

    .facts__ico-heart {
        margin-bottom: 60px;
    }

    .facts-item__number {
        font-size: 3.75rem;
    }
}

@media screen and (max-width: 992px) {
    .discuss__content {
        flex-direction: column;

        align-items: center;
    }

    .discuss-address {
        padding-bottom: 25px;
        padding-left: 0;
    }

    .discuss-form {
        width: calc(770 * 100% / 992);
    }

    .discuss-form__data {
        margin-bottom: 15px;
    }

    .discuss-form__title {
        margin-bottom: 14px;

        text-align: center;
    }

    .discuss-form__message {
        margin-bottom: 22px;
    }

    .discuss-social__item {
        display: inline-block;

        margin-right: 10px;
        margin-bottom: 0;
    }

    .discuss-social__item:last-child {
        margin-right: 0;
    }

    .footer-items {
        justify-content: space-around;
    }

    .footer-item {
        margin-bottom: 15px;

        flex-basis: 44%;
    }

    .footer-logo__holder {
        margin-bottom: 25px;
    }

    .footer-subscribe,
    .footer-links {
        padding-top: 0;
    }

    .footer-copy {
        padding-top: 20px;

        align-self: flex-end;
    }

    .discuss-form__button {
        display: block;

        margin: 0 auto;
    }

    .discuss__subtitle {
        margin-bottom: 45px;
    }

    .discuss-address__title {
        margin-bottom: 12px;

        text-align: center;
    }

    .discuss-address__info {
        text-align: center;
    }
}

@media screen and (max-width: 852px) {
    .facts__items {
        justify-content: space-evenly;
    }

    .facts-item {
        flex-basis: calc(400 * 100% / 852);
    }

    .facts-item:nth-of-type(1),
    .facts-item:nth-of-type(2) {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 852px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #c1c1c1;
    }

    .resp-vtabs .resp-tabs-container {
        float: none;
        clear: none;

        width: 100%;
        min-height: 100px;

        border: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

@media screen and (max-width: 768px) {
    .hero-content {
        text-align: center;
    }

    .hero-slider-pager {
        top: 80%;
        right: calc(50% - 31.5px);
    }

    .hero-slider-pager a {
        display: inline-block;

        margin-right: 14px;
        margin-bottom: 0;
    }

    .hero-slider-pager a:last-child {
        margin-right: 0;
    }

    .team-item__content {
        justify-content: space-evenly;
    }

    .discuss-form {
        width: 100%;
    }

    .team-item__description {
        margin-bottom: initial;
    }
}

@media screen and (max-width: 576px) {
    .header-logo__holder {
        margin-left: calc(50% - 45px);
    }

    .nav {
        position: absolute;
        top: 50px;
        right: 10px;

        display: none;
    }

    .nav__item {
        display: block;

        width: 100%;
        margin: 0;
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 15px;

        text-align: center;

        border-top: 1px solid #6e7983;
        background-color: rgba(6, 32, 51, .8);
    }

    .nav__item:first-child {
        border-top: none;
    }

    .features-item {
        width: 100%;
        padding-left: 0;
    }

    .discuss-form input[name='username'],
    .discuss-form input[name='usermail'] {
        width: 100%;
    }

    .discuss-form input[name='username'] {
        margin-bottom: 15px;
    }

    .discuss-form input {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .discuss-form__data {
        flex-direction: column;
    }

    .discuss-form__title {
        margin-bottom: 15px;
    }

    .footer-items {
        display: block;
    }

    .footer-item {
        width: 100%;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-logo__image {
        margin-right: auto;
        margin-left: auto;
    }

    .footer-links__holder {
        justify-content: space-around;
    }

    .footer-copy__description {
        position: static;

        text-align: center;
    }

    .footer-copy__description::before {
        display: none;
    }

    .footer-subscribe__form {
        margin-bottom: 12px;
    }

    .header__icon {
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .features__ico {
        position: static;

        display: inline-block;

        margin-bottom: 5px;
    }

    .section__subtitle {
        font-size: 1rem;
    }

    .features-item__title {
        margin-bottom: 10px;

        text-align: center;
    }

    .footer-item__title {
        margin-bottom: 20px;

        text-align: center;
    }

    .features-item__description {
        text-align: center;
    }

    .team-item__description span {
        margin-top: 6px;
    }

    .footer-copy__rights {
        margin-top: 15px;

        text-align: center;
    }

    .nav__link {
        font-size: 0.8125rem;

        display: block;

        width: 100%;
        padding-right: 5px;
        padding-left: 10px;

        border-left: 3px solid transparent;
    }

    .nav__link:hover,
    .nav__link--active {
        border-left: 3px solid #32b0ee;
    }

    .nav__link:hover::before,
    .nav__link--active::before {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .facts__items {
        display: block;
    }

    .facts-item {
        margin-bottom: 40px;
    }

    .facts-item:nth-of-type(4) {
        margin-bottom: 0;
    }

    .discuss__ico-heart {
        margin-bottom: 20px;
    }

    .discuss__subtitle {
        margin-bottom: 35px;
    }

    .discuss-address__title {
        margin-bottom: 6px;
    }
}
