/* stylelint-disable order/properties-alphabetical-order */

/* stylelint-enable */

/*===============CSS=====================================*/

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/MontserratBold/MontserratBold.woff2') format('woff2'), url('../fonts/MontserratBold/MontserratBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/MontserratRegular/MontserratRegular.woff2') format('woff2'), url('../fonts/MontserratRegular/MontserratRegular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/MontserratSemiBoldRegular/MontserratSemiBoldRegular.woff2') format('woff2'), url('../fonts/MontserratSemiBoldRegular/MontserratSemiBoldRegular.woff') format('woff');
}

/*======ADJUSTMENT======*/

html {
    font-size: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.2;

    min-height: 100vh;

    word-wrap: break-word;

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
}

.container {
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

/*======END ADJUSTMENT======*/

.top-wrapper {
    display: -webkit-box;
    display: flex;

    width: 100%;
    height: 100vh;

    text-align: center;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    background-blend-mode: overlay;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.top-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 40px;

    color: #fff;
}

.top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 400;

    margin-bottom: 30px;

    color: #fff;
}

.top-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;

    color: #fff;
}

/*======begin PORTFOLIO section======*/

.portfolio {
    padding-top: 50px;
    padding-bottom: 40px;

    background-color: #fff;
}

.section__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 60px;

    text-align: center;
    text-transform: uppercase;

    color: #050426;
}

.portfolio__items .item--odd {
    flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
}

.portfolio-item {
    display: -webkit-box;
    display: flex;

    width: 100%;
    margin-bottom: 30px;
    padding: 10px;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    border: 1px solid #c0c0c0;

    -webkit-box-pack: justify;
    justify-content: space-between;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-item__wrapper {
    overflow: hidden;

    width: 50%;
}

.portfolio-item__wrapper img {
    display: block;

    width: 100%;
    height: auto;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.portfolio-item__wrapper:hover img {
    -webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}

.portfolio-item__data {
    display: -webkit-box;
    display: flex;
    flex-direction: column;

    width: 50%;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.item--odd .portfolio-item__title {
    text-align: right;
}

.item--odd .portfolio-item__description {
    text-align: right;
}

.portfolio-item__title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-item__title:hover a {
    color: #03beff;
    border-bottom: 1px solid #03beff;
}

.portfolio-item__title a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    color: #050426;
    border-bottom: 1px solid transparent;
}

.portfolio-item__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;

    text-align: left;

    color: #363636;
}

.portfolio-item__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;

    display: inline-block;

    margin-top: auto;
    padding: 10px 20px;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #03beff;

    align-self: center;
}

.portfolio-item__button:hover {
    color: #03beff;
    border-color: #03beff;
    background-color: #fff;
}

/*======end PORTFOLIO section======*/

/*======begin FOOTER======*/

.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #050426;
}

.footer__copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;

    color: #fff;
}

.footer__copy span {
    font-weight: 400;

    margin-right: 20px;
}

.footer__copy .icon {
    display: inline-block;

    margin-right: 5px;
    margin-left: 5px;

    fill: red;
}

.footer__copy .icon-heart {
    width: 16px;
    height: 16px;

    vertical-align: middle;
}

/*======end FOOTER======*/

/*======begin BUTTONS======*/

.btn-top {
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 30px;

    width: 60px;
    height: 60px;

    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    background-color: rgba(238, 238, 238, .6);
}

.btn-top:hover {
    border-color: rgba(5, 4, 38, .4);
}

.btn-arrow {
    display: -webkit-box;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.btn-arrow .icon-angle-up {
    width: 40px;
    height: 40px;

    fill: rgba(5, 4, 38, .4);
}

/*======end BUTTONS======*/

/*======begin MEDIA QUERIES======*/

@media (min-width: 320px) {
    .top-title {
        font-size: calc(2.97619048vw + 1.90476rem);
    }

    .top-text {
        font-size: calc(1.48809524vw + 1.57738rem);
    }

    .top-info {
        font-size: calc(1.48809524vw + 1.57738rem);
    }

    .portfolio {
        padding-top: calc(6.69642857vw + 28.57142857px);
    }

    .portfolio {
        padding-bottom: calc(6.69642857vw + 18.57142857px);
    }
}

@media (min-width: 768px) {
    .portfolio {
        padding-top: 80px;
    }

    .portfolio {
        padding-bottom: 70px;
    }

    .portfolio-item__title {
        margin-top: calc(26.78571429vw - 185.71428571px);
    }
}

@media (min-width: 992px) {
    .top-title {
        font-size: 3.75rem;
    }

    .top-text {
        font-size: 2.5rem;
    }

    .top-info {
        font-size: 2.5rem;
    }

    .portfolio-item__title {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .portfolio-item {
        display: block;
    }

    .portfolio-item__wrapper {
        width: 100%;
    }

    .portfolio-item__data {
        display: block;

        width: 100%;
    }

    .item--odd .portfolio-item__title,
    .item--odd .portfolio-item__description {
        text-align: left;
    }

    .portfolio-item__title {
        margin-top: 30px;
    }

    .portfolio-item__description {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .portfolio-item {
        padding: 0;

        border: none;
    }

    .portfolio-item__wrapper:hover img {
        -webkit-transform: none;
        transform: none;
    }

    .portfolio-item__data {
        padding-right: 0;
        padding-left: 0;
    }
}
