/* stylelint-disable order/properties-alphabetical-order */

/* stylelint-enable */

/*===============CSS=====================================*/

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/MontserratBold/MontserratBold.woff2') format('woff2'), url('../fonts/MontserratBold/MontserratBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/MontserratRegular/MontserratRegular.woff2') format('woff2'), url('../fonts/MontserratRegular/MontserratRegular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;

    src: url('../fonts/MontserratSemiBoldRegular/MontserratSemiBoldRegular.woff2') format('woff2'), url('../fonts/MontserratSemiBoldRegular/MontserratSemiBoldRegular.woff') format('woff');
}

/*======ADJUSTMENT======*/

html {
    font-size: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.2;

    min-height: 100vh;

    word-wrap: break-word;

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
}

.container {
    min-width: 320px;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

/*======END ADJUSTMENT======*/

/*======begin HEADER=======*/

.header {
    position: absolute;
    top: 0;

    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar {
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

.header-nav {
    display: flex;

    align-items: center;
}

.header-nav__item {
    margin-right: 20px;
}

.header-nav__item:last-child {
    margin-right: 0;
}

.header-nav__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;

    display: inline-block;

    padding: 6px;

    transition: all .3s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border-bottom: 1px solid transparent;
}

.header-nav__link--active,
.header-nav__link:hover {
    color: #03beff;
    border-color: #03beff;
}

/*======end HEADER======*/

.top-wrapper {
    position: relative;

    display: flex;

    width: 100%;
    height: 100vh;

    text-align: center;

    background-color: rgba(5, 4, 38, .6);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    background-blend-mode: overlay;
    justify-content: center;
    align-items: center;
}

.top-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;

    margin-bottom: 40px;

    color: #fff;
}

.top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 400;

    margin-bottom: 30px;

    color: #fff;
}

.top-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 600;

    color: #fff;
}

/*======begin PORTFOLIO section======*/

.portfolio {
    padding-top: 50px;
    padding-bottom: 40px;

    background-color: #fff;
}

.portfolio__items .item--odd {
    flex-direction: row-reverse;
}

.portfolio-item {
    display: flex;

    width: 100%;
    margin-bottom: 30px;
    padding: 10px;

    transition: all .3s ease-in-out;

    border: 1px solid #c0c0c0;

    justify-content: space-between;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-item__wrapper {
    overflow: hidden;

    width: 50%;
}

.portfolio-item__wrapper img {
    display: block;

    width: 100%;
    height: auto;

    transition: all .3s ease-in-out;
}

.portfolio-item__wrapper:hover img {
    transform: scale(1.15, 1.15);
}

.portfolio-item__data {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 20px 20px 15px;
}

.portfolio-item__title {
    margin-bottom: 15px;
}

.portfolio-item__title:hover a {
    color: #03beff;
    border-bottom: 1px solid #03beff;
}

.portfolio-item__title a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;

    transition: all .3s ease-in-out;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    color: #050426;
    border-bottom: 1px solid transparent;
}

.portfolio-item__description {
    margin-bottom: 15px;
}

.portfolio-item__tech {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    color: dimgray;
}

.portfolio-item__tech span {
    font-weight: 400;

    letter-spacing: 0.09375rem;
    text-transform: uppercase;
}

.portfolio-item__inner {
    display: inline-block;

    margin-top: auto;
    padding-left: 20px;

    transition: all .3s ease-in-out;

    border: 3px solid transparent;
    border-radius: 5px;
    background-color: #03beff;

    align-self: center;
}

.portfolio-item__inner span {
    padding-top: 7px;

    vertical-align: middle;
}

.portfolio-item__inner span .icon-binoculars {
    width: 20px;
    height: 18px;

    transition: all .3s ease-in-out;

    fill: #fff;
}

.portfolio-item__inner:hover {
    border-color: #03beff;
    background-color: #fff;
}

.portfolio-item__inner:hover span .icon {
    fill: #03beff;
}

.portfolio-item__inner:hover .portfolio-item__button {
    color: #03beff;
}

.portfolio-item__button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;

    display: inline-block;

    padding: 10px 20px 10px 10px;

    transition: all .3s ease-in-out;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

/*======end PORTFOLIO section======*/

/*======begin ABOUT section======*/

.about {
    padding-top: 50px;
    padding-bottom: 40px;

    background-color: #fff;
}

.about__info {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.about__image-wrapper {
    overflow: hidden;

    max-width: 300px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    border-radius: 20px;
}

.about__image {
    display: block;

    width: 100%;
    height: auto;
}

/*======end ABOUT section======*/

/*======begin FOOTER======*/

.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #050426;
}

.footer__copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;

    color: #fff;
}

.footer__copy span {
    font-weight: 400;

    margin-right: 20px;
}

.footer__copy .icon {
    display: inline-block;

    margin-right: 5px;
    margin-left: 5px;

    fill: red;
}

.footer__copy .icon-heart {
    width: 16px;
    height: 16px;

    vertical-align: middle;
}

/*======end FOOTER======*/

/*======begin BUTTONS======*/

.btn-top {
    position: fixed;
    z-index: 999;
    right: 10px;
    bottom: 30px;

    width: 60px;
    height: 60px;

    cursor: pointer;
    transition: all .3s ease-in-out;

    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    background-color: rgba(238, 238, 238, .6);
}

.btn-top:hover {
    border-color: rgba(5, 4, 38, .4);
}

.btn-arrow {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.btn-arrow .icon-angle-up {
    width: 40px;
    height: 40px;

    fill: rgba(5, 4, 38, .4);
}

.header__icon {
    display: none;
}

.menu-icon {
    position: relative;

    display: none;
    overflow: hidden;

    width: 20px;
    height: 12.5px;

    cursor: pointer;
}

.menu-icon:before,
.menu-icon:after {
    display: block;

    width: 2px;
    height: 14px;

    content: '';
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
    transform-origin: center center;

    background-color: #fff;
}

.menu-icon:before {
    position: absolute;
    top: 0;
    left: 9px;

    transform: rotate(-45deg);
}

.menu-icon:after {
    position: absolute;
    top: 0;
    right: 9px;

    transform: rotate(45deg);
}

.menu-icon .bar {
    width: 100%;
    height: 2.5px;

    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;

    border-radius: 20px;
    background-color: #fff;
}

.menu-icon .bar-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-icon .bar-2 {
    position: absolute;
    top: 5px;
    left: 0;
}

.menu-icon .bar-3 {
    position: absolute;
    top: 10px;
    left: 0;
}

.menu-icon.opened .bar {
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon.opened:before,
.menu-icon.opened:after {
    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon-3:before {
    transform: rotate(-90deg);
}

.menu-icon-3:after {
    transform: rotate(90deg);
}

.menu-icon-3:before,
.menu-icon-3:after {
    top: -1px;
}

.menu-icon-3.opened:before {
    transform: rotate(-45deg);
}

.menu-icon-3.opened:after {
    transform: rotate(45deg);
}

.menu-icon-3.opened:before,
.menu-icon-3.opened:after {
    top: 0;
}

.menu-icon-3.opened .bar {
    opacity: 0;
}

.menu-icon-3.opened .bar-1 {
    top: 5px;
}

.menu-icon-3.opened .bar-3 {
    top: 5px;
}

/*======end BUTTONS======*/

/*======begin TYPOGRAPHY======*/

.section__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 60px;

    text-align: center;
    text-transform: uppercase;

    color: #050426;
}

.portfolio-item__description,
.about__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;

    text-align: left;

    color: #363636;
}

/*======end TYPOGRAPHY======*/

/*======begin MEDIA QUERIES======*/

@media (min-width: 320px) {
    .top-title {
        font-size: calc(2.97619048vw + 1.90476rem);
    }

    .top-text {
        font-size: calc(1.48809524vw + 1.57738rem);
    }

    .top-info {
        font-size: calc(1.48809524vw + 1.57738rem);
    }

    .portfolio {
        padding-top: calc(6.69642857vw + 28.57142857px);
    }

    .portfolio {
        padding-bottom: calc(6.69642857vw + 18.57142857px);
    }

    .about {
        padding-top: calc(6.69642857vw + 28.57142857px);
    }

    .about {
        padding-bottom: calc(6.69642857vw + 18.57142857px);
    }
}

@media (min-width: 768px) {
    .portfolio {
        padding-top: 80px;
    }

    .portfolio {
        padding-bottom: 70px;
    }

    .about {
        padding-top: 80px;
    }

    .about {
        padding-bottom: 70px;
    }
}

@media (min-width: 992px) {
    .top-title {
        font-size: 3.75rem;
    }

    .top-text {
        font-size: 2.5rem;
    }

    .top-info {
        font-size: 2.5rem;
    }
}

@media (max-width: 852px) {
    .portfolio-item {
        display: block;
    }

    .portfolio-item__wrapper {
        width: 100%;
    }

    .portfolio-item__data {
        display: block;

        width: 100%;
    }

    .portfolio-item__title {
        margin-top: 30px;
    }

    .portfolio-item__description {
        margin-bottom: 25px;
    }

    .portfolio-item__tech {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .about__info {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .header-nav {
        position: absolute;
        top: 60px;
        right: 0;

        display: none;

        padding: 30px 20px;

        text-align: center;

        background-color: rgba(5, 4, 38, .4);
    }

    .header-nav__item {
        margin-right: 0;
    }

    .portfolio-item {
        padding: 0;

        border: none;
    }

    .portfolio-item__wrapper:hover img {
        transform: none;
    }

    .portfolio-item__data {
        padding-right: 0;
        padding-left: 0;
    }

    .header__icon {
        display: block;
    }

    .menu-icon {
        display: block;
    }
}
