/* stylelint-disable order/properties-alphabetical-order */

/* stylelint-enable */

/*===============CSS===========================*/

/*======begin FONTS======*/

@font-face {
    font-family: 'fontawesome';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/RobotoCondensedBold/Roboto Condensed Bold.woff2') format('woff2'), url('../fonts/RobotoCondensedBold/Roboto Condensed Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/RobotoCondensedRegular/Roboto Condensed Regular.woff2') format('woff2'), url('../fonts/RobotoCondensedRegular/Roboto Condensed Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/RobotoRegular/Roboto Regular.woff2') format('woff2'), url('../fonts/RobotoRegular/Roboto Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/RobotoSlabBold/Roboto Slab Bold.woff2') format('woff2'), url('../fonts/RobotoSlabBold/Roboto Slab Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/RobotoSlabRegular/Roboto Slab Regular.woff2') format('woff2'), url('../fonts/RobotoSlabRegular/Roboto Slab Regular.woff') format('woff');
}

/*======end FONTS======*/

/*======ADJUSTMENT======*/

html {
    font-size: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

wbr {
    display: inline-block;
}

/*======END ADJUSTMENT======*/

/*======begin COMMON======*/

.item__header {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.2;
}

.section__header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;

    text-transform: uppercase;
}

.item__desc {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

/*======end COMMON======*/

.header {
    padding-top: 20px;
    padding-bottom: 20px;

    background: url('../img/background/bg-header.png') repeat top left, #e5e5e5;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .1);
}

.header-content {
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
}

.header__nav {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header__nav li {
    margin-right: 20px;
}

.header__nav li.current .nav__link {
    color: #1abb9c;
}

.header__nav li:last-child {
    margin-right: 0;
}

.nav__link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    display: block;

    transition: all .3s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #4e4e4e;
}

.nav__link:hover {
    color: #1abb9c;
}

.menu-icon {
    display: none;
}

/*======HAMBURGER MENU======*/

.menu-icon {
    position: relative;

    overflow: hidden;

    width: 40px;
    height: 25px;

    cursor: pointer;
}

.menu-icon:before,
.menu-icon:after {
    display: block;

    width: 4px;
    height: 28px;

    content: '';
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
    transform-origin: center center;

    border-radius: 10px;
    background-color: #4e4e4e;
}

.menu-icon:before {
    position: absolute;
    top: 0;
    left: 18px;

    transform: rotate(-45deg);
}

.menu-icon:after {
    position: absolute;
    top: 0;
    right: 18px;

    transform: rotate(45deg);
}

.menu-icon .bar {
    width: 100%;
    height: 5px;

    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;

    border-radius: 20px;
    background-color: #4e4e4e;
}

.menu-icon .bar-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-icon .bar-2 {
    position: absolute;
    top: 10px;
    left: 0;
}

.menu-icon .bar-3 {
    position: absolute;
    top: 20px;
    left: 0;
}

.menu-icon.opened .bar {
    transition-delay: 0s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon.opened:before,
.menu-icon.opened:after {
    transition-delay: .2s;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: all;
}

.menu-icon-3:before {
    transform: rotate(-90deg);
}

.menu-icon-3:after {
    transform: rotate(90deg);
}

.menu-icon-3:before,
.menu-icon-3:after {
    top: -2px;
}

.menu-icon-3.opened:before {
    transform: rotate(-45deg);
}

.menu-icon-3.opened:after {
    transform: rotate(45deg);
}

.menu-icon-3.opened:before,
.menu-icon-3.opened:after {
    top: 0;
}

.menu-icon-3.opened .bar {
    opacity: 0;
}

.menu-icon-3.opened .bar-1 {
    top: 10px;
}

.menu-icon-3.opened .bar-3 {
    top: 10px;
}

/*======begin HERO section======*/

.hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero__header-wrapper {
    padding: 16.23931624% 2.336448598% 16.8376068%;

    text-align: center;
}

.hero__header {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;

    margin-top: 0;
    margin-bottom: 3.4188034188%;

    text-align: center;

    color: #f3f3f3;
}

.hero__slogan {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;

    margin-top: 0;
    margin-bottom: 4.1025641%;

    text-align: center;

    color: #a8a8a8;
}

.button {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.75rem;

    padding: 7px 15px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.hero__button {
    display: inline-block;

    transition: all .3s ease-in-out;

    border-bottom: 4px solid #3678a3;
    border-radius: 2px;
    background-color: #3f8dbf;
}

.hero__button:hover {
    transition: all .3s ease-in-out;
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}

/*======end HERO section======*/

/*======begin SERVICE section======*/

.service {
    padding-top: calc(60 * 100% / 1170);
    padding-bottom: calc(58 * 100% / 1170);

    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}

.service__section {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.service__item {
    width: calc(240 * 100% / 1170);

    text-align: center;
}

.header--service {
    margin-bottom: 4.60251046%;

    color: #4e4e4e;
}

.service--desc {
    line-height: 1.7;

    color: #616161;
}

.service_icon {
    display: inline-block;

    margin-bottom: 11.297071%;
}

.icon-violet {
    width: 90px;
    height: 90px;

    background-image: url(../img/sprite.png);
    background-position: 0 -95px;
}

.icon-red {
    width: 90px;
    height: 90px;

    background-image: url(../img/sprite.png);
    background-position: -95px 0;
}

.icon-blue {
    width: 90px;
    height: 90px;

    background-image: url(../img/sprite.png);
    background-position: 0 0;
}

.icon-yellow {
    width: 90px;
    height: 90px;

    background-image: url(../img/sprite.png);
    background-position: -95px -95px;
}

/*======end SERVICE section======*/

/*======begin WORKS section======*/

.works {
    margin-bottom: 4.9572649%;

    background-color: #fff;
}

.section__header--works {
    line-height: 2.1875rem;

    margin-top: 4.188034188%;
    margin-bottom: 1.2820513%;

    color: #4e4e4e;
}

.works__section {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.works__item {
    width: calc(380 * 100% / 1170);

    text-align: left;
}

.works__picture {
    width: 100%;
    height: auto;
    margin-bottom: 4.7368421%;
}

.header--works {
    margin-bottom: 2.631578947%;

    color: #4e4e4e;
}

.item__application {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;

    margin-bottom: 3.947368421%;

    color: #a8a8a8;
}

.item__desc--works {
    line-height: 1.75rem;

    margin-bottom: 0;

    color: #5c5c5c;
}

/*======end WORKS section======*/

/*======begin TESTIMONIALS section======*/

.testi {
    padding-top: 4.61538462%;
    padding-bottom: 5.12820513%;

    background-color: #efefef;
}

.testi__section {
    text-align: center;
}

.ico-quotes {
    display: block;

    width: 39px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 21px;

    background-image: url(../img/sprite.png);
    background-position: -190px 0;
}

.testi_desc {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;

    display: inline-block;

    width: 65.1282051%;
    margin-top: 0;

    text-align: center;

    color: #a1a1a1;
}

/*======end TESTIMONIALS section======*/

/*======begin FOOTER======*/

footer.footer {
    box-sizing: border-box;

    background: url('../img/background/bg-footer.png') repeat top left #cecece;
}

.footer__top {
    display: flex;

    padding-top: 4.1025641%;
    padding-bottom: 2.564102%;

    border-bottom: 1px solid #383838;

    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    width: calc(260 * 100% / 1170);
}

.footer-item__header {
    margin-bottom: 16px;

    color: #6c6c6c;
}

.footer-touch__desc {
    line-height: 1.7;

    margin-bottom: 27px;

    color: #cacaca;
}

.footer-adr__desc {
    display: inline-block;

    width: 190px;
    margin-bottom: 4px;

    color: #cacaca;
}

.footer-adr__link {
    display: inline-block;

    margin-bottom: 8px;

    text-decoration: none;

    color: #cacaca;
}

.icon-touch {
    margin-right: 12px;

    color: #a89574;
}

.footer-twitter__desc {
    margin-bottom: 30px;
}

.footer-twitter__desc:last-child {
    margin-bottom: 0;
}

.footer-twitter__link {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 0.875rem;
    line-height: 1.714;

    text-decoration: none;

    color: #cacaca;
}

.footer-twitter__link:hover {
    text-decoration: underline;
}

.icon-tw {
    margin-right: 10px;

    color: #a89574;
}

.footer-item__post {
    margin-bottom: 27px;
}

.footer-item__post:last-child {
    margin-bottom: 0;
}

.footer-post__link {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 0.875rem;
    line-height: 1.714;

    margin-bottom: 30px;

    text-decoration: none;

    color: #cacaca;
}

.footer-post__link:hover {
    text-decoration: underline;
}

.footer-post__time {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5625rem;

    color: #cacaca;
}

.footer-about__desc {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5625rem;

    margin-bottom: 27px;

    color: #cacaca;
}

.footer-about__desc:last-child {
    margin-bottom: 0;
}

.footer__bottom {
    padding-top: 4.2735042%;
    padding-bottom: 4.155374887%;
}

.footer-copy {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 0.875rem;
    line-height: 1.571;

    color: #cacaca;
}

/*======end FOOTER======*/

/*======begin BUTTONS======*/

.btn-top {
    position: fixed;
    z-index: 20;
    right: 20px;
    bottom: 25px;

    display: none;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding-bottom: 5px;

    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;

    opacity: .6;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #9ec6df;
}

.btn-top:hover {
    background-color: #65a4cc;
}

.arrow__img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;

    transform: translate(-50%, -50%);

    fill: #fff;
}

/*======end BUTTONS======*/

/*========begin MEDIA QUERIES========*/

@media (min-width: 320px) {
    .hero__header {
        font-size: calc(1.81818vw + 1.13636rem);
    }

    .hero__slogan {
        font-size: calc(1.36364vw + 0.97727rem);
    }

    .button {
        padding-top: calc(.45455vw + 1.54545px);
    }

    .button {
        padding-bottom: calc(.45455vw + 1.54545px);
    }

    .button {
        padding-left: calc(.90909vw + 4.09091px);
    }

    .button {
        padding-right: calc(.90909vw + 4.09091px);
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: calc(5.32407vw - 20.88889px);
    }

    .header {
        padding-bottom: calc(3.47222vw - 6.66667px);
    }
}

@media (min-width: 1200px) {
    .header {
        padding-top: 43px;
    }

    .header {
        padding-bottom: 35px;
    }

    .hero__header {
        font-size: 2.5rem;
    }

    .hero__slogan {
        font-size: 2rem;
    }

    .button {
        padding-top: 7px;
    }

    .button {
        padding-bottom: 7px;
    }

    .button {
        padding-left: 15px;
    }

    .button {
        padding-right: 15px;
    }
}

@media (max-width: 852px) {
    .service__item {
        width: 48%;
        margin-bottom: 30px;
    }

    .service_icon {
        margin-bottom: 20px;
    }

    .section__header--works {
        text-align: center;
    }

    .works__section {
        justify-content: space-around;
    }

    .works__item {
        width: calc(380 * 100% / 852);
        margin-bottom: 25px;
    }

    .footer__top {
        padding-bottom: 10px;
    }

    .footer-item {
        width: 48%;
        margin-bottom: 30px;
    }

    .footer-touch__desc {
        margin-bottom: 14px;
    }

    .footer-adr__link {
        display: block;
    }

    .footer-twitter__desc {
        margin-bottom: 15px;
    }

    .footer-item__post {
        margin-bottom: 12px;
    }

    .footer-about__desc {
        margin-bottom: 12px;
    }
}

@media (max-width: 768px) {
    .header-content {
        position: relative;
    }

    .header__logo {
        margin-left: calc(50% - 61px);
    }

    .header__nav {
        position: absolute;
        top: 50px;
        right: 0;

        display: none;

        width: 150px;
        padding-top: 15px;

        background-color: rgba(78, 78, 78, .8);
    }

    .header__nav li {
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid #dcdcdc;
    }

    .header__nav li:last-child {
        border-bottom: none;
    }

    .nav__link {
        text-align: center;

        color: #fff;
    }

    .menu-icon {
        display: block;
    }

    .testi_desc {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .works__section {
        display: block;
    }

    .works__item {
        width: 100%;
        max-width: 380px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .service__item {
        width: 100%;
    }

    .footer__top {
        display: block;
    }

    .footer-item {
        width: 100%;
    }
}
